################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoresWebAPI/.vs/BookStoresWebAPI/FileContentIndex
/BookStoresWebAPI/.vs/BookStoresWebAPI/v17
/.vs/BookStore/CopilotIndices/17.14.878.3237
/.vs/BookStore/FileContentIndex
/.vs/BookStore/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/BookStoresWebAPI/.vs/BookStoresWebAPI/config/applicationhost.config
/BookStoresWebAPI/.vs/BookStoresWebAPI/copilot-chat/37e62822/sessions
/BookStoresWebAPI/.vs/BookStoresWebAPI/CopilotIndices/17.14.878.3237
/BookStoresWebAPI/.vs/BookStoresWebAPI/DesignTimeBuild/.dtbcache.v2
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/ref/BookStoresWebAPI.dll
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/refint/BookStoresWebAPI.dll
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/apphost.exe
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/BookStoresWebAPI.AssemblyInfo.cs
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/BookStoresWebAPI.AssemblyInfoInputs.cache
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/BookStoresWebAPI.csproj.CoreCompileInputs.cache
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/BookStoresWebAPI.dll
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/BookStoresWebAPI.pdb
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/BookStoresWebAPI.sourcelink.json
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/BookStoresWebAPI/BookStoresWebAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/BookStoresWebAPI/BookStoresWebAPI/bin/Debug/net8.0/BookStoresWebAPI.dll
/BookStoresWebAPI/BookStoresWebAPI/bin/Debug/net8.0/BookStoresWebAPI.exe
/BookStoresWebAPI/BookStoresWebAPI/bin/Debug/net8.0/BookStoresWebAPI.pdb
